/* ОБЩИЕ КЛАССЫ */
body {
  background: #e5e5e5;
  font-family: Roboto;
}
.btn {
  cursor: pointer;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* СБРОС СТИЛЕЙ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
}

/* INDEX-HTML */
/* Логотип */
.logo {
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
  font-style: normal;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-header-studio {
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
  font-style: normal;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-footer-studio {
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-style: normal;
  font-size: 26px;
  color: #ffffff;
}
/* Хедер */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list {
  display: flex;
  margin-left: 93px;
}
.header.connect {
  display: flex;
  margin-left: auto;
}
.header-list2 {
  display: flex;
  margin-left: auto;
}
.header-li {
  margin-right: 50px;
}
.header-li:last-child {
  margin-right: 50px;
}
.header-link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}
.header-link:hover {
  color: #2196f3;
}
.header-link2 {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
}
.header-link2:hover {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

/* Шапка */
.motto {
  background: #2f303a;
  height: 600px;
}
.motto-div {
}
.motto-h1 {
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  width: 696px;
  display: inline-block;
  padding-top: 200px;
  margin-right: 252px;
  margin-left: 252px;
}
.motto-btn {
  font-weight: 700;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-size: 16px;
  margin-right: 516px;
  margin-left: 516px;
  margin-bottom: 210px;
  width: 170px;
  height: 50px;
}

/* Гарантии */
.description {
}
.description-list {
}
.description-h3 {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  font-style: normal;
  font-size: 14px;
}
.description-p {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

/* Чем мы занимаемся */
.photo {
}
.photo-h2 {
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: normal;
  font-size: 36px;
}
.photo-list {
}
.photo-img {
}

/* Наша команда */
.team {
}
.team-h2 {
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: normal;
  font-size: 36px;
}
.team-list {
}
.team-li {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-img {
}
.team-h3 {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.team-p {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

/* Футер */
.footer {
  background: #2f303a;
}
.footer-address {
}
.footer-list {
}
.footer-location {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.footer-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

/* PORTFOLIO-HTML */

/* Главный контент */
.nav-list {
}
.nav-btn {
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  font-family: Roboto;
}
.nav-btn:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.maincontant {
}
.maincontant-list {
}
.maincontant-li {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.maincontant-img {
}
.maincontant-h3 {
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
.maincontant-p {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
